@import "../../index.scss";

.Details {
  text-align: center;
}

.Details__wrapper {
  @media only screen and (min-width: 768px) {
    display: grid;
    grid-template-columns: 1fr 1fr;
    text-align: left;
  }
}

.Details__img {
  background: $aqua url("../../images/whisk-teal.jpg") no-repeat top;
  background-size: cover;
  position: relative;

  &:before,
  &:after {
    content: "";
    position: absolute;
    width: 100%;
    background-color: $aqua;

    @media only screen and (min-width: 768px) {
      width: 125%;
    }

    @media only screen and (min-width: 1640px) {
      width: 200%;
    }
  }

  &:before {
    height: 100%;
    top: -100%;
    right: 0;
    clip-path: polygon(0 0, 100% 100%, 0 100%);
    z-index: 1;
  }

  &:after {
    height: 200%;
    right: 100%;
    top: 0;
  }
}

.Details__text {
  padding: 1rem 1rem 3rem;
  max-width: 525px;
  margin-left: 0;

  @media only screen and (min-width: 768px) {
    padding: 2rem 2rem 4rem 4rem;
  }
}

.Details__subtitle {
  margin: 2rem 0 0;
}

.Details__sub {
  border-left: 4px solid $aqua;
  padding-left: 1rem;
  margin-bottom: 2rem;
}
