@import "../../index.scss";

.FAQ {
  background-color: $pink;
  text-align: center;
  padding: 1rem;
  padding-bottom: 3rem;

  @media only screen and (min-width: 768px) {
    padding: 2rem;
    padding-bottom: 4rem;
  }
}

.FAQ__list {
  max-width: 800px;
  margin: 0 auto;
  text-align: left;

  details {
    margin-bottom: 1rem;

    @media only screen and (min-width: 768px) {
      margin-bottom: 1.5rem;
    }

    & ~ * {
      transition: all 1s ease-in;
    }
  }

  summary {
    background-color: $white;
    padding: 0.75rem 1rem;
    list-style: none;
    font-weight: 500;
    cursor: pointer;
    position: relative;

    &:after {
      content: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCA0NDggNTEyIj4KICAgIDxwYXRoIGQ9Ik0yMjQgNDE2Yy04LjE4OCAwLTE2LjM4LTMuMTI1LTIyLjYyLTkuMzc1bC0xOTItMTkyYy0xMi41LTEyLjUtMTIuNS0zMi43NSAwLTQ1LjI1czMyLjc1LTEyLjUgNDUuMjUgMEwyMjQgMzM4LjhsMTY5LjQtMTY5LjRjMTIuNS0xMi41IDMyLjc1LTEyLjUgNDUuMjUgMHMxMi41IDMyLjc1IDAgNDUuMjVsLTE5MiAxOTJDMjQwLjQgNDEyLjkgMjMyLjIgNDE2IDIyNCA0MTZ6Ii8+Cjwvc3ZnPg==);
      position: absolute;
      top: 50%;
      right: 0.75rem;
      width: 1rem;
      height: 1rem;
      transform: translateY(-50%);
      transition: all 250ms ease-in;
    }
  }

  transition: all 250ms ease-in;

  details[open] {
    & > summary {
      box-shadow: 1px 4px 6px $border-grey;

      &:after {
        transform: translateY(-50%) rotate(-180deg);
      }
    }

    & > div {
      border-top: none;
      background-color: $white;

      padding: 0.75rem 1rem;
    }
  }
}
