@import "../../index.scss";

.Card__img {
  height: 150px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  border-radius: 1rem;

  @media only screen and (min-width: 1024px) {
    height: 200px;
  }
}

.Card__title {
  padding: 1rem 0;
}
