@import "../../index.scss";

.Nav {
  padding: 1rem;
  background-color: $aqua;
}

.Nav__wrapper {
  display: flex;
  justify-content: center;

  @media only screen and (min-width: 768px) {
    justify-content: flex-end;
  }
}

.Nav__list {
  display: inline-block;
}

.Nav__link {
  margin-left: 1rem;

  @media only screen and (min-width: 768px) {
    margin-left: 2rem;
  }
}
