@import "../../index.scss";

.Nav {
  padding: 1rem;
  background-color: $aqua;
  display: flex;
  justify-content: center;

  @media only screen and (min-width: 768px) {
    justify-content: flex-end;
  }
}

.Nav__list {
  display: inline-block;
}

.Nav__link {
  margin-left: 1rem;
  text-decoration: none;
  color: $charcoal;

  &:hover {
    color: $magenta;
  }
}
